.forms-body {
    grid-column: 1;
    background-color: darkviolet;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

.contact-info-forms {
  width: 80%;
}

.forms-body form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: black;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  gap: 0.3rem;
}

input[type="email"]:invalid {
  border: 1px solid red;
}

.valError {
  font-size: 0.8rem;
  color: red;
}