.job-forms-container{
    width: 80%;
    border-radius: 0.5rem;
}
.jobsHeader {
    background-color: black;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 2rem;
}

.jobsHeader button {
    font-size: 2rem;
    padding: 0.5rem;
}

.job-forms-container form {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 0;
}

.job-forms-container form:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

textarea {
    color: white;
}